@import './base/variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.app-chats {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .dropdown {
        display: none;
        flex-direction: column;
        align-items: center;
        & > div {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 100%;
            cursor: pointer;
        }
        svg {
            width: 50px;
            height: 50px;
        }
    }
    button {
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $main-color;
        border: none;
        border-radius: 100%;
        cursor: pointer;
        outline: none;
        .close {
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            padding: 15px;
            svg {
                width: 25px;
                height: 25px;
                fill: #fff;
            }
        }
        .open {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            // display: none;
            svg {
                width: 40px;
                height: 40px;
                fill: #fff;
                stroke: $bg-color;
            }
        }
        .btn-active {
            display: flex;
        }
        .btn-hide {
            display: none;
        }
        .dropdown-active {
            display: flex;
        }
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 95%;
    }
}

.up {
    position: fixed;
    bottom: 2rem;
    left: 1rem;
    padding: 10px;
    background-color: #393F50;
    display: none;
    align-items: center;
}

.upShow {
    display: flex;
}

.form {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.233);
    form {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 30px;
        background-color: #fff;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        input, textarea {
            width: 100%;
            padding: 15px 20px;
            border: 1px solid $bg-color;
            box-shadow: 0 0 5px rgba(0, 0, 0, .2);
            outline: none;
            margin-top: 20px;
        }
        textarea {
            resize: none;
        }
        button {
            text-transform: uppercase;
            padding: 15px 20px;
            border: none;
            background-color: $main-color;
            color: #fff;
            cursor: pointer;
            transition: all .5s;
            margin-top: 20px;
            &:hover {
                background-color: rgb(199, 199, 199);
                color: $main-color;
                border: 1px solid $bg-color;
                box-shadow: 0 0 5px rgba(0, 0, 0, .2);
            }
        }
    }

    &__close {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -5%;
        right: -8%;
        height: 35px;
        font-size: 50px;
        color: $main-color;
        z-index: 50;
        cursor: pointer;
    }
}

.form-active {
    display: block;
    z-index: 5;
}

@import './blocks/header';
@import './blocks/promo';
@import './blocks/recommend';
@import './blocks/news';
@import './blocks/advantages';
@import './blocks/subscribe';
@import './blocks/footer';

@import './media';
