@import './base/variables';
// @import './libs/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.app-chats {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    button {
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $main-color;
        border: none;
        border-radius: 100%;
        .close {
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            padding: 15px;
            svg {
                width: 30px;
                height: 30px;
                fill: #fff;
            }
        }
        .open {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            // display: none;
            svg {
                width: 40px;
                height: 40px;
                fill: #fff;
                stroke: $bg-color;
            }
        }
        .btn-active {
            display: flex;
        }
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 95%;
    }
}

@import './blocks/header';
@import './blocks/promo';
@import './blocks/recommend';
@import './blocks/news';
@import './blocks/advantages';

@import './media';
