@import './base/variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.app-chats {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .dropdown {
        display: none;
        flex-direction: column;
        align-items: center;
        & > div {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 100%;
            cursor: pointer;
        }
        svg {
            width: 50px;
            height: 50px;
        }
    }
    button {
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $main-color;
        border: none;
        border-radius: 100%;
        cursor: pointer;
        outline: none;
        .close {
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            padding: 15px;
            svg {
                width: 25px;
                height: 25px;
                fill: #fff;
            }
        }
        .open {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            // display: none;
            svg {
                width: 40px;
                height: 40px;
                fill: #fff;
                stroke: $bg-color;
            }
        }
        .btn-active {
            display: flex;
        }
        .btn-hide {
            display: none;
        }
        .dropdown-active {
            display: flex;
        }
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 95%;
    }
}

.up {
    position: fixed;
    bottom: 2rem;
    left: 1rem;
    padding: 10px;
    background-color: #393F50;
    display: none;
    align-items: center;
}

.upShow {
    display: flex;
}

.form {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.233);
    form {
        width: 25%;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 30px;
        background-color: #fff;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        input, textarea {
            width: 100%;
            padding: 15px 20px;
            border: 1px solid $bg-color;
            box-shadow: 0 0 5px rgba(0, 0, 0, .2);
            outline: none;
            margin-top: 20px;
        }
        textarea {
            resize: none;
        }
        button {
            text-transform: uppercase;
            padding: 15px 20px;
            border: none;
            background-color: $main-color;
            color: #fff;
            cursor: pointer;
            transition: all .5s;
            margin-top: 20px;
            &:hover {
                background-color: rgb(199, 199, 199);
                color: $main-color;
                border: 1px solid $bg-color;
                box-shadow: 0 0 5px rgba(0, 0, 0, .2);
            }
        }
    }

    &__close {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -5%;
        right: -8%;
        height: 35px;
        font-size: 50px;
        color: $main-color;
        z-index: 50;
        cursor: pointer;
    }
}

.form-active {
    display: block;
    z-index: 5;
}

@media screen and (max-width: 1200px) {
    .form {
        form {
            width: 50%;
        }
    }
}

@media screen and (max-width: 769px) {
    .form {
        form {
            textarea {
                height: 150px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .form {
        form {
            width: 80%;
        }
    }
}

@media screen and (max-width: 390px) {
    .form {
        form {
            width: 85%;

            textarea {
                height: 100px;
            }
        }
    }
}

.cart-shop {
    position: fixed;
    right: -1500px;
    top: 0;
    height: 100%;
    background-color: #fff;
    min-width: 395px;
    transition: all .5s;
    
    &__head {
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid $bg-color;
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            width: 4rem;
            height: 4rem;
            border: none;
            background: $bg-color;
            padding: 0;
            text-align: center;
            line-height: 7rem;
            cursor: pointer;
            transition: .25s;
        }

        strong {
            display: flex;
            align-items: center;
            padding-left: 50px;
            font-size: 1.8rem;
        }
    }

    &__item {
        display: grid;
        grid-template-columns: 70px 230px 50px;
        column-gap: 20px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $bg-color;
        padding: 2rem;

        figcaption {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            a {
                h3 {
                    color: $main-color;
                    font-size: 14px;
                }
            }
        }

        img {
            width: 100%;
        }
    }

    .mobile-price {
        display: none;
    }

    &__price {
        display: flex;
        justify-content: space-between;
        font-size: 20px;

        .counter {
            display: flex;
            justify-content: flex-start;
            input {
                width: 50%;
                border: none;
                border-radius: 0;
                box-shadow: none;
                font-weight: 700;
                font-size: 16px;
                line-height: 2rem;
                color: $main-color;
                background-color: $bg-color;
                text-align: center;
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }

            .plus, .minus {
                padding-right: 5px;
                padding-left: 5px;
                cursor: pointer;
                border: none;
                background-color: $bg-color;
            }

            .minus {
                background-color: $bg-color;
                order: -1;
            }
        }
    }

    &__delete {
        display: block;
        margin: 0 auto;
        width: 25px;
        border: none;
        background: none;
        cursor: pointer;
        outline: none;
        transition: all .3s;

        &:active {
            svg {
                stroke: red;
            }
        }
    }

    &__total {
        display: flex;
        justify-content: flex-end;
        padding: 2rem;

        p {
            strong {
                font-size: 20px;
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: space-around;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 30px 0;
        border-top: 1px solid $bg-color;
        
        button {
            border: none;
            background: none;
            color: $bg-color;
            padding: 5px 20px;
            background-color: $main-color;
            cursor: pointer;
            outline: none;
            transition: all .5s;
            font-size: 1rem;

            &:active {
                background-color: #13151a;
            }
        }
    }
}

.cart-shop-active {
    right: 0;
}

@media screen and (max-width: 570px) {
    .cart-shop {
        width: 100%;

        &__item {
            display: grid;
            justify-content: space-between;
            grid-template-columns: auto auto auto;

            img {
                width: 70px;
            }
        }

        &__price {
            display: none;
        }

        .mobile-price {
            display: flex;
            justify-content: flex-start;
            grid-column: 1 / 4;
            margin-top: 20px;

            .counter {
                margin-left: 50px;
            }
        }
    }
}

@import './blocks/header';
@import './blocks/promo';
@import './blocks/recommend';
@import './blocks/news';
@import './blocks/advantages';
@import './blocks/subscribe';
@import './blocks/footer';

@import './media';
