.header {
    &__top {
        background-color: $main-color;
        padding: 30px 0;
    }
    &__search {
        position: relative;
        button {
            width: 10%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background: none;
            border: none;
            padding-bottom: 5px;
            border-radius: 3px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        input {
            width: 100%;
            height: 30px;
            padding-left: 10px;
            color: #fff;
            border: none;
            background: none;
            border-bottom: 2px solid $bg-color;
            outline: none;
        }
        input:focus {
            border-bottom: 2px solid #ffffff;
        }
        input::placeholder { color: #fff; }
    }
    &__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
            color: #fff;
            text-decoration: none;
            transition: all .5s;
            &:hover {
                color: rgb(202, 202, 202);
            }
        }
        button {
            border: none;
            background: none;
            color: #fff;
            cursor: pointer;
            outline: none;
            transition: all .5s;
            font-size: 1rem;
            &:hover {
                color: rgb(202, 202, 202);
            }
        }
    }
    &__account {
        margin-right: 30px;
    }
    &__account, &__basket {
        button {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: none;
            border: none;
            color: #fff;
            cursor: pointer;
        }
    }
    .rightWrapper {
        display: flex;
        justify-content: flex-end;
    }
    .nav {
        background-color: #fff;
        // box-shadow: 0 0 10px rgba(0, 0, 0, 0.315);
        &__prioripy {
            padding: 15px 0;
            ul {
                list-style: none;
                display: flex;
                justify-content: space-between;
                li {
                    position: relative;
                    a {
                        color: $main-color;
                        text-decoration: none;
                        transition: all .5s;
                        &:hover {
                            color: #626775;
                        }
                    }
                }
                li:first-child {
                    padding-right: 10px;
                    &::after {
                        content: '';
                        display: inline-block;
                        width: .3rem;
                        height: .3rem;
                        transition: inherit;
                        border-bottom: .2rem solid $main-color;
                        border-right: .2rem solid $main-color;
                        transform: rotate(45deg) translate(0,-50%);
                        position: absolute;
                        top: 63%;
                        right: 0;
                        margin: -.35rem 0 0;
                    }
                }
            }
        }
    }
}