.promo {
    min-height: 500px;
    margin-top: 30px;
    &__wrapper {
        display: grid;
        grid-template-columns: 22% 50% 22%;
        grid-template-rows: 400px;
        grid-template-rows: min-content;
        justify-content: space-between;
    }
    &__middle {
        z-index: -1;
        figure {
            height: 550px;
            border-radius: 15px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__item {
        position: relative;
        &-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            top: 60%;
            left: 60%;
            color: #fff;
            h3 {
                font-size: 1.5rem;
            }
            p {
                font-size: 1.3rem;
            }
            a {
                display: block;
                margin-top: 20px;
                text-decoration: none;
                color: $main-color;
                background-color: $bg-color;
                padding: 3px 20px;
                margin-top: 10px;
                border-radius: 15px;
                transition: all .5s;
                &:hover {
                    background-color: $main-color;
                    color: $bg-color;
                }
            }
        }
    }
    &__left, &__right {
        background-color: #fff;
    }
    &__left {
        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            list-style: none;
            li {
                a {
                    display: block;
                    width: 100%;
                    padding: 20px 0 20px 30px;
                    color: $main-color;
                    text-decoration: none;
                    transition: all .5s;
                    &:hover {
                        color: $bg-color;
                    }
                }
            }
        }
    }
    &__right {
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        figure {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 100%;
            margin-top: 50px;
            img {
                width: 70%;
            }
            figcaption {
                margin-top: 10px;
                h3 {
                    a {
                        color: $main-color;
                        text-decoration: none;
                    }
                }
                .buy {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 30px;
                    button {
                        background-color: $main-color;
                        border: none;
                        color: #fff;
                        padding: 5px 20px;
                        border-radius: 15px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    &__companies {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        background-color: #fff;
        padding: 30px 0;
        &-item {
            cursor: pointer;
        }
        img {
            width: 60px;
            height: 60px;
        }
    }

    .slider-dots {
        position: absolute;
        right: 0;
        bottom: 5%;
        left: 0;
        display: flex;
        justify-content: center;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;
    }
}