@media screen and (max-width: 1250px) {
    .header {
        &__contact {
            flex-direction: column;
            a {
                order: -1;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        &__top {
            &-wrapper {
                grid-template-columns: 75px 3fr;
            }
        }
        &__search, &__contact {
            display: none;
        }
        .nav {
            &__priority {
                ul {
                    li {
                        a {
                            font-size: 0.875rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        &__account {
            display: none;
        }
        .nav {
            &__priority {
                display: flex;
                justify-content: space-between;
                ul {
                    li {
                        &:not(:first-child) {
                            display: none;
                        }
                    }
                    li:first-child {
                        display: flex;
                        align-items: center;
                        a {
                            display: none;
                        }
                        a.hamburger {
                            display: block;
                            span {
                                display: block;
                                width: 26px;
                                height: 2px;
                                background-color: $main-color;
    
                                &:not(:last-child) {
                                    margin-bottom: 5px;
                                }
                            }
                        }
                        ul {
                            display: none;
                        }
                        svg {
                            display: none;
                        }
                    }
                }
                .mobileRight {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    button {
                        background: none;
                        border: none;
                    }
                    .mobileSearch {
                        margin-right: 20px;
                    }
                }
                .mobileAccount {
                    display: block;
                }
            }
            &__mobile {
                display: block;
                width: 50%;
                position: fixed;
                top: 0;
                left: -500px;
                height: 100%;
                background-color: #fff;
                z-index: 5;
                transition: all .5s;
                ul {
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    li {
                        a {
                            display: block;
                            padding: 10px 10px 10px 20px;
                            border-bottom: 1px solid $bg-color;
                            color: $main-color;
                        }
                    }
                }
            }
            &__contacts {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: absolute;
                left: 30px;
                bottom: 30px;

                a {
                    display: block;
                    margin-bottom: 20px;
                    color: $main-color;
                    text-decoration: none;
                    transition: all .5s;
                    &:hover {
                        color: rgb(202, 202, 202);
                    }
                }

                button {
                    border: none;
                    background: none;
                    color: $main-color;
                    padding: 5px 20px;
                    background-color: $bg-color;
                    cursor: pointer;
                    outline: none;
                    transition: all .5s;
                    font-size: 1rem;
                }
            }
            .mobileActive {
                transform: translateX(500px);
            }
            &__listHead {
                display: flex;
                align-items: center;
                padding: 0 80px 0 20px;
                height: 4rem;
                border-bottom: .1rem solid $bg-color;
                .close {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 4rem;
                    height: 4rem;
                    border: none;
                    background: $bg-color;
                    padding: 0;
                    text-align: center;
                    line-height: 7rem;
                    cursor: pointer;
                    transition: .25s;
                }
                strong {
                    display: block;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 475px) {
    .header {
        .nav {
            &__mobile {
                width: 65%;
            }
            &__listHead {
                height: 3rem;
                .close {
                    width: 3rem;
                    height: 3rem;
                }
                strong {
                    display: block;
                    font-size: 1.1rem;
                }
            }
        }
    }
}