@media screen and (max-width: 992px) {
    .news {
        &__item {
            a {
                figure {
                    grid-template-columns: 98%;
                    column-gap: 0;
                    justify-content: center;
                    h3 {
                        font-size: 16px;
                    }
                    figcaption {
                        p {
                            margin-top: 20px;
                            font-size: 12px;
                        }
                        time {
                            margin-top: 20px;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 445px) {
    .news {
        &__item {
            padding: 10px;
        }
    }
}