@media screen and (max-width: 992px) {
    .news {
        &__items {
            display: grid;
            grid-template-columns: 47% 47%;
            grid-template-rows: min-content;
            justify-content: space-between;
        }
        &__item {
            padding: 20px;
            a {
                figure {
                    grid-template-columns: 98%;
                    column-gap: 0;
                    justify-content: center;
                    h3 {
                        font-size: 16px;
                    }
                    figcaption {
                        p {
                            margin-top: 20px;
                            font-size: 12px;
                        }
                        time {
                            margin-top: 20px;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {
    @media screen and (max-width: 992px) {
        .news {
            &__items {
                grid-template-columns: 100%;
            }
            &__item {
                padding: 20px;
            }
        }
    }
}

@media screen and (max-width: 445px) {
    .news {
        &__item {
            padding: 10px;
        }
    }
}